$white: #fff;
$black: #000;
$dark-grey: #27272a;
$body: #6b7280;
$cool-grey: #9ca3af;
$light-light-grey: #a1a1aa;
$lime: #84cc16;
$pink: #ec4899;
$purple: #a855f7;
$message-dot: #8b5cf6;
$dark-purple: #7c3aed;
$medium-grey: #52525b;
$light-black: #3f3f46;
$light-grey: #71717a;
$one-more-color: #18181b;
$dark-white: #f9fafb;
$light-purple: #ede9fe;
