.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: $min-tablet-width) {
  .container {
    min-width: 768px;
  }
}

@media (min-width: $min-desktop-width) {
  .container {
    min-width: 1024px;
  }
}
