.side-menu {
  background-color: $one-more-color;
  max-width: 767px;
}

.side-menu--open {
  max-width: 80px;
}

.side-menu__header,
.side-menu__footer {
  background-color: $dark-grey;
}

.side-menu__header-wrapper {
  display: flex;
  padding-left: 22px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 32px;
}

.side-menu__burger {
  width: 38px;
  height: 36px;
  background-color: inherit;
  border: none;
  margin-right: 16px;
  color: $light-grey;
  padding: 0;
}

.side-menu__logo {
  width: 81px;
  height: 31px;
}

.side-menu__list,
.bottom__list,
.side-menu__button-wrapper {
  padding-left: 13px;
  padding-right: 13px;
}

.side-menu__input-wrapper {
  margin-bottom: 16px;
  position: relative;
  padding-left: 23px;
  padding-right: 23px;
}

.side-menu__input-wrapper::before {
  content: "";
  position: absolute;
  background-image: url("img/search-icon.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  top: 9px;
  left: 30px;
}

.side-menu__input,
.side-menu__item {
  min-width: 100%;
  min-height: 36px;
}

.side-menu__input {
  border: 1px solid $light-grey;
  background-color: inherit;
  border-radius: 5px;
  padding-left: 40px;
}

.side-menu__input--small {
  min-width: 10px;
  padding-left: 28px;
  width: 32px;
}

.side-menu__list {
  margin-top: 0;
  margin-bottom: 64px;
  list-style: none;
  position: relative;
}

.side-menu__list::after {
  border: 1px solid $dark-grey;
  position: absolute;
  content: "";
  min-width: 90%;
  bottom: -25px;
}

.side-menu__item,
.side-menu__link {
  display: flex;
}

.side-menu__item {
  padding-left: 16px;
  position: relative;
  align-items: center;
}

.side-menu__item:nth-child(2)::after {
  content: "";
  position: absolute;
  background-image: url("img/mail-dot-icon.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  top: 8px;
  right: 20px;
}

.side-menu__link {
  font-weight: 400;
  color: $light-light-grey;
  background-color: $one-more-color;
  border: none;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.side-menu__svg {
  margin-right: 8px;
  color: $one-more-color;
}

.side-menu__svg path {
  stroke: $light-grey;
}

.bottom-list {
  margin-bottom: 150px;
}

.bottom-list::after {
  display: none;
}

.bottom-list__item {
  position: relative;
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
  align-items: center;
}

.bottom-list__item:first-child {
  padding-left: 48px;
}

.bottom-list__item:first-child::before {
  content: "";
  position: absolute;
  background-image: url("img/folders-icon.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  top: -2px;
  left: 20px;
}

.bottom-list__item:not(:first-child) {
  padding-left: 32px;
}

.bottom-list__text {
  color: $light-light-grey;
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 0;
}

.bottom-list__purple,
.bottom-list__lime,
.bottom-list__pink {
  width: 8px;
  height: 8px;
  background: $purple;
  border-radius: 3px;
  margin: 0;
  position: absolute;
  top: 4px;
  left: 19px;
}

.bottom-list__purple {
  background: $purple;
}

.bottom-list__lime {
  background: $lime;
}

.bottom-list__pink {
  background: $pink;
}

.side-menu__button-wrapper {
  margin-bottom: 24px;
  position: relative;
}

.side-menu__project-button {
  padding: 10px 90px 10px 96px;
  background-color: $dark-purple;
  border: none;
  border-radius: 5px;
  color: $white;
  width: 100%;
}

.side-menu__button-wrapper::before {
  content: "";
  position: absolute;
  background-image: url("img/plus-icon.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  top: 9px;
  left: 77px;
}

.side-menu__footer-wrapper {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  position: relative;
}

.side-menu__footer-wrapper::after {
  content: "";
  position: absolute;
  background-image: url("img/dots-icon.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  top: 30px;
  right: 24px;
}

.side-menu__footer-image {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.side-menu__footer-text,
.side-menu__footer-title {
  margin-top: 0;
}

.side-menu__footer-title {
  margin-bottom: 2px;
  color: $white;
}

.side-menu__footer-text {
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
  color: $light-light-grey;
}

.side-menu__item--active {
  background-color: $light-black;
  border-radius: 5px;
}

.side-menu__link--active {
  color: $white;
  background-color: inherit;
}

.side-menu__svg--active path {
  stroke: $white;
}

.button {
  cursor: pointer;
}

.button:hover,
.button:focus {
  opacity: 0.5;
}

.side-menu__checkbox {
  margin-bottom: 20px;
}

.checkbox__label {
  padding-left: 20px;
  position: relative;
  cursor: pointer;
  display: flex;
}

.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox__box {
  position: absolute;
  width: 48px;
  height: 26px;
  margin-left: 0;
  background-image: url("img/chekbox-active.jpg");
  background-repeat: no-repeat;
  left: 0;
  top: 2px;
  border-radius: 15px;
}

.checkbox__input:checked + .checkbox__box {
  background-image: url("img/checkbox-not-active.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.checkbox__input:hover + .checkbox__box,
.checkbox__input:focus + .checkbox__box {
  border-radius: 15px;
}

.checkbox__input:checked:hover + .checkbox__box,
.checkbox__input:checked:focus + .checkbox__box {
  border-radius: 15px;
}

.checkbox__text {
  display: none;
  padding-left: 50px;
  padding-top: 7px;
  font-weight: 400;
  color: $light-light-grey;
}

.checkbox__text--active {
  display: block;
}

@media (min-width: $min-desktop-width) {
  .side-menu {
    display: none;
  }
}
